.App {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-drawer {
    display: flex;
    float: left;
}

.main-screen {
    margin-top: 80px;
    display: flex;
}

.SidebarList {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.SidebarRow {
    height: 60px;
    width: 100%;  
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

.SidebarRowIcon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.SidebarRowTitle {
    flex: 70%;
}

.nav-link {
    text-decoration: none;
}

.add-member-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.add-member-paper {
    width: 80%;
    padding: 20px;
}

.add-member-form .form-field {
    margin-top: 20px;
}

.add-member-form .outer {
    width:100%;
    justify-content: space-evenly;
}

.add-member-form .outer .inner {
    display: inline-block;
}

.add-member-form .add-member-btn {
    margin-left: 30%;
}

.add-member-form .reset-btn {
    margin-left: 5%;
    display: inline-block;
}

.date-picker {
    max-width: 40%;
    display: inline-block;
    margin-right: auto;
}

.date-picker-payment {
    display: inline-block;
}

.add-member-form .dates {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.table-head .table-cell {
    font-weight: bold;
}

.members-table .edit-btn {
    background-color: #757ce8;
    padding: 2px 15px;
    border-radius: 2px;
}

.members-table .delete-btn {
    background-color: #f44336;
    padding: 2px 15px;
    border-radius: 2px;
}

.members-table .new-payment-btn {
    background-color: #118C4F;
    padding: 2px 15px;
    border-radius: 2px;
}

.payment-form {
    margin-right: 20px;
    padding: 40px;
}

.payment-history {
    margin-right: 40px;
    padding: 20px;
}

.confirm-payment {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.add-member-btn {
    background-color: #757ce8;
    padding: 2px 15px;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.login-paper {
    padding: 20px;
    margin: auto;
    width: 80%;
}

.login-paper .username {
    display: block;
    margin-left: 40%;
    margin-bottom: 20px;
}

.login-paper .password {
    display: block;
    margin-left: 40%;
    margin-bottom: 20px;
}

.login-paper .login-btn {
    display: block;
    justify-content: center;
    margin-left: 48%;
}
